body {    
    --cos-font-regular: 400;
    --cos-font-medium: 500;
    --cos-font-medium-stroke: 0px;
    --cos-red-0: #e65b5b;
    --cos-red-1: #c9474b;
    --cos-red--1: #eb7e7a;
    --cos-red--5: #fff7f5;
    --cos-red--4: #fae0dc;
    --cos-red--3: #f5c0ba;
    --cos-red--2: #f09f99;
    --cos-red-2: #ad343c;
    --cos-red-3: #91242f;
    --cos-red-4: #751724;
    --cos-red-5: #590d1a;
    --cos-orange--5: #fff3eb;
    --cos-orange--4: #fae4d7;
    --cos-orange--3: #f5c8b0;
    --cos-orange--2: #f0ab8b;
    --cos-orange--1: #eb8c67;
    --cos-orange-0: #e66d45;
    --cos-orange-1: #c95534;
    --cos-orange-2: #ad3f26;
    --cos-orange-3: #912c1a;
    --cos-orange-4: #751c10;
    --cos-orange-5: #591009;
    --cos-tan--5: #fff7e6;
    --cos-tan--4: #faebd2;
    --cos-tan--3: #f5d5a6;
    --cos-tan--2: #f0be7d;
    --cos-tan--1: #eba554;
    --cos-tan-0: #e68a2e;
    --cos-tan-1: #c97022;
    --cos-tan-2: #ad5918;
    --cos-tan-3: #914410;
    --cos-tan-4: #753109;
    --cos-tan-5: #592104;
    --cos-amber--5: #fff5d6;
    --cos-amber--4: #ffedbf;
    --cos-amber--3: #e6c88a;
    --cos-amber--2: #d9b26a;
    --cos-amber--1: #be8c3d;
    --cos-amber-0: #be7b1d;
    --cos-amber-1: #a86616;
    --cos-amber-2: #915310;
    --cos-amber-3: #7a400a;
    --cos-amber-4: #633006;
    --cos-amber-5: #4d2203;
    --cos-yellow--5: #fffce0;
    --cos-yellow--4: #faf5cd;
    --cos-yellow--3: #f5e89d;
    --cos-yellow--2: #f0d86e;
    --cos-yellow--1: #ebc642;
    --cos-yellow-0: #e6b217;
    --cos-yellow-1: #c99612;
    --cos-yellow-2: #ad7b0e;
    --cos-yellow-3: #91620a;
    --cos-yellow-4: #754b07;
    --cos-yellow-5: #593604;
    --cos-lime--5: #fcffe0;
    --cos-lime--4: #f2f7cb;
    --cos-lime--3: #e3f099;
    --cos-lime--2: #d1e86b;
    --cos-lime--1: #bde03f;
    --cos-lime-0: #a8d916;
    --cos-lime-1: #8cbd11;
    --cos-lime-2: #72a10e;
    --cos-lime-3: #598509;
    --cos-lime-4: #436906;
    --cos-lime-5: #2e4d04;
    --cos-verdure--5: #f5ffe0;
    --cos-verdure--4: #e2f7bc;
    --cos-verdure--3: #cbf095;
    --cos-verdure--2: #b4e86f;
    --cos-verdure--1: #9de051;
    --cos-verdure-0: #82d92b;
    --cos-verdure-1: #69bd20;
    --cos-verdure-2: #52a116;
    --cos-verdure-3: #3e850f;
    --cos-verdure-4: #2c6908;
    --cos-verdure-5: #1c4d04;
    --cos-green--5: #f2fff0;
    --cos-green--4: #def7da;
    --cos-green--3: #bcf0b6;
    --cos-green--2: #9ae895;
    --cos-green--1: #78e075;
    --cos-green-0: #57d957;
    --cos-green-1: #42bd46;
    --cos-green-2: #30a138;
    --cos-green-3: #21852b;
    --cos-green-4: #156920;
    --cos-green-5: #0b4d16;
    --cos-virid--5: #e6ffee;
    --cos-virid--4: #bcf7d2;
    --cos-virid--3: #95f0b9;
    --cos-virid--2: #6fe8a4;
    --cos-virid--1: #51e094;
    --cos-virid-0: #2bd982;
    --cos-virid-1: #20bd74;
    --cos-virid-2: #16a165;
    --cos-virid-3: #0f8555;
    --cos-virid-4: #086945;
    --cos-virid-5: #044d34;
    --cos-teal--5: #e0fff2;
    --cos-teal--4: #c9f5e4;
    --cos-teal--3: #96ebcd;
    --cos-teal--2: #67e0ba;
    --cos-teal--1: #3cd6ab;
    --cos-teal-0: #14cc9e;
    --cos-teal-1: #10b38f;
    --cos-teal-2: #0c997f;
    --cos-teal-3: #09806e;
    --cos-teal-4: #06665b;
    --cos-teal-5: #044d46;
    --cos-cyan--5: #e0fffa;
    --cos-cyan--4: #c7f2ec;
    --cos-cyan--3: #93e6dd;
    --cos-cyan--2: #64d9d1;
    --cos-cyan--1: #39ccc7;
    --cos-cyan-0: #13bfbf;
    --cos-cyan-1: #0fa3a8;
    --cos-cyan-2: #0c8891;
    --cos-cyan-3: #096f7a;
    --cos-cyan-4: #065763;
    --cos-cyan-5: #04404d;
    --cos-ocean--5: #e0fcff;
    --cos-ocean--4: #c9f0f5;
    --cos-ocean--3: #98e0ed;
    --cos-ocean--2: #6bd1e8;
    --cos-ocean--1: #3fbde0;
    --cos-ocean-0: #16a8d9;
    --cos-ocean-1: #118cbd;
    --cos-ocean-2: #0d72a1;
    --cos-ocean-3: #095985;
    --cos-ocean-4: #064369;
    --cos-ocean-5: #042e4d;
    --cos-sky--5: #e6f7ff;
    --cos-sky--4: #d2ebfa;
    --cos-sky--3: #a6d5f5;
    --cos-sky--2: #7dbef0;
    --cos-sky--1: #54a5eb;
    --cos-sky-0: #2e8ae6;
    --cos-sky-1: #2270c9;
    --cos-sky-2: #1859ad;
    --cos-sky-3: #104491;
    --cos-sky-4: #093175;
    --cos-sky-5: #042159;
    --cos-blue--5: #ebf3ff;
    --cos-blue--4: #d7e4fa;
    --cos-blue--3: #b0c8f5;
    --cos-blue--2: #8babf0;
    --cos-blue--1: #678ceb;
    --cos-blue-0: #456de6;
    --cos-blue-1: #3455c9;
    --cos-blue-2: #263fad;
    --cos-blue-3: #1a2c91;
    --cos-blue-4: #101c75;
    --cos-blue-5: #091059;
    --cos-indigo--5: #f0f2ff;
    --cos-indigo--4: #dce0fa;
    --cos-indigo--3: #bac0f5;
    --cos-indigo--2: #999ff0;
    --cos-indigo--1: #7a7eeb;
    --cos-indigo-0: #5c5ce6;
    --cos-indigo-1: #4b47c9;
    --cos-indigo-2: #3c34ad;
    --cos-indigo-3: #2f2491;
    --cos-indigo-4: #241775;
    --cos-indigo-5: #1a0d59;
    --cos-dutch--5: #f3ebff;
    --cos-dutch--4: #e4d7fa;
    --cos-dutch--3: #c8b0f5;
    --cos-dutch--2: #ab8bf0;
    --cos-dutch--1: #8c67eb;
    --cos-dutch-0: #6d45e6;
    --cos-dutch-1: #5534c9;
    --cos-dutch-2: #3f26ad;
    --cos-dutch-3: #2c1a91;
    --cos-dutch-4: #1c1075;
    --cos-dutch-5: #100959;
    --cos-purple--5: #f7e6ff;
    --cos-purple--4: #ebd2fa;
    --cos-purple--3: #d5a6f5;
    --cos-purple--2: #be7df0;
    --cos-purple--1: #a554eb;
    --cos-purple-0: #8a2ee6;
    --cos-purple-1: #6920bd;
    --cos-purple-2: #5216a1;
    --cos-purple-3: #3e0f85;
    --cos-purple-4: #310975;
    --cos-purple-5: #210459;
    --cos-violet--5: #ffe0fa;
    --cos-violet--4: #f2c7ec;
    --cos-violet--3: #e693dd;
    --cos-violet--2: #d964d1;
    --cos-violet--1: #cc39c7;
    --cos-violet-0: #bf13bf;
    --cos-violet-1: #a30fa8;
    --cos-violet-2: #880c91;
    --cos-violet-3: #6f097a;
    --cos-violet-4: #570663;
    --cos-violet-5: #40044d;
    --cos-fuchsia--5: #ffe0f2;
    --cos-fuchsia--4: #f5c9e4;
    --cos-fuchsia--3: #ed98cf;
    --cos-fuchsia--2: #e86bc0;
    --cos-fuchsia--1: #e03fb3;
    --cos-fuchsia-0: #d916a8;
    --cos-fuchsia-1: #bd1197;
    --cos-fuchsia-2: #a10d86;
    --cos-fuchsia-3: #850972;
    --cos-fuchsia-4: #69065d;
    --cos-fuchsia-5: #4d0446;
    --cos-cherry--5: #ffe6ee;
    --cos-cherry--4: #fad2e1;
    --cos-cherry--3: #f5a6c6;
    --cos-cherry--2: #f07daf;
    --cos-cherry--1: #eb549b;
    --cos-cherry-0: #e62e8a;
    --cos-cherry-1: #c9227b;
    --cos-cherry-2: #ad186d;
    --cos-cherry-3: #91105e;
    --cos-cherry-4: #75094e;
    --cos-cherry-5: #59043d;
    --cos-pink--5: #ffebf3;
    --cos-pink--4: #fad7e4;
    --cos-pink--3: #f5b0c8;
    --cos-pink--2: #f08bab;
    --cos-pink--1: #eb678c;
    --cos-pink-0: #e6456d;
    --cos-pink-1: #c93455;
    --cos-pink-2: #ad263f;
    --cos-pink-3: #911a2c;
    --cos-pink-4: #75101c;
    --cos-pink-5: #590910;
    --cos-gray--5: #f7f7f7;
    --cos-gray--4: #ececec;
    --cos-gray--3: #d6d6d6;
    --cos-gray--2: #b7b7b7;
    --cos-gray--1: #999999;
    --cos-gray-0: #7b7b7b;
    --cos-gray-1: #656565;
    --cos-gray-2: #525252;
    --cos-gray-3: #464646;
    --cos-gray-4: #393939;
    --cos-gray-5: #292929;
    --cos-color-text: #333333;
    --cos-color-bg: #ffffff;
    --cos-color-bg-dent: #f5f6f9;
    --cos-color-border: #b7b9c1;
    --cos-color-text-tiny: #626675;
    --cos-color-bg-page: #ffffff;
    --cos-color-bg-raised: #ffffff;
    --cos-color-bg-em: #f73131;
    --cos-color-text-slim: #9195a3;
    --cos-color-text-on-page: #848691;
    --cos-color-text-em: #f73131;
    --cos-color-text-minor: #626675;
    --cos-color-text-on-em: #ffffff;
    --cos-color-border-em: #f73131;
    --cos-color-bg-alive: #fd503e;
    --cos-color-border-alive: #fd503e;
    --cos-color-text-alive: #fd503e;
    --cos-color-text-on-alive: #ffffff;
    --cos-color-bg-primary: #4e6ef2;
    --cos-color-text-primary: #4e6ef2;
    --cos-color-text-on-primary: #ffffff;
    --cos-color-border-primary: #4e6ef2;
    --cos-color-text-error: #f73131;
    --cos-color-bg-primary-light: #edf0fd;
    --cos-color-bg-error: #f73131;
    --cos-color-text-on-primary-light: #4e6ef2;
    --cos-color-text-success: #39b362;
    --cos-color-text-on-error: #ffffff;
    --cos-color-border-success: #39b362;
    --cos-color-border-error: #f73131;
    --cos-color-text-on-success: #ffffff;
    --cos-color-bg-success: #39b362;
    --cos-color-text-em-disabled: #f7313166;
    --cos-color-text-primary-disabled: #4e6ef266;
    --cos-color-bg-primary-light-disabled: #edf0fd66;
    --cos-color-bg-primary-light-hover: #e0e3f0;
    --cos-color-bg-primary-disabled: #4e6ef266;
    --cos-color-bg-primary-hover: #4662d9;
    --cos-color-text-on-success-disabled: #ffffff66;
    --cos-color-text-on-error-light-hover: #f73131;
    --cos-color-text-on-em-light: #f73131;
    --cos-color-bg-alive-light: #fd503e1a;
    --cos-color-text-on-alive-light-hover: #fd503e;
    --cos-color-text-on-em-disabled: #ffffff66;
    --cos-color-text-on-success-light-disabled: #39b36266;
    --cos-color-text-on-success-light: #39b362;
    --cos-color-text-on-primary-disabled: #ffffff66;
    --cos-color-text-on-alive-hover: #ffffff;
    --cos-color-text-on-alive-disabled: #ffffff66;
    --cos-color-text-on-primary-hover: #ffffff;
    --cos-color-text-on-em-hover: #ffffff;
    --cos-color-bg-success-light: #39b3621a;
    --cos-color-text-success-hover: #33a058;
    --cos-color-text-on-em-light-disabled: #f7313166;
    --cos-color-text-em-hover: #dd2c2c;
    --cos-color-text-on-error-light-disabled: #f7313166;
    --cos-color-bg-error-light: #f731311a;
    --cos-color-text-primary-hover: #4662d9;
    --cos-color-text-success-disabled: #39b36266;
    --cos-color-text-alive-disabled: #fd503e66;
    --cos-color-bg-em-light: #eb33331a;
    --cos-color-text-on-error-light: #f73131;
    --cos-color-text-on-alive-light: #fd503e;
    --cos-color-text-on-error-hover: #ffffff;
    --cos-color-text-on-success-light-hover: #39b362;
    --cos-color-text-on-success-hover: #ffffff;
    --cos-color-text-on-primary-light-hover: #4e6ef2;
    --cos-color-text-on-em-light-hover: #f73131;
    --cos-color-text-error-hover: #dd2c2c;
    --cos-color-text-error-disabled: #f7313166;
    --cos-color-text-on-error-disabled: #ffffff66;
    --cos-color-text-on-primary-light-disabled: #4e6ef266;
    --cos-color-text-alive-hover: #e34737;
    --cos-color-text-on-alive-light-disabled: #fd503e66;
    --cos-color-bg-em-disabled: #f7313166;
    --cos-color-bg-error-hover: #dd2c2c;
    --cos-color-border-alive-light: #fd503e80;
    --cos-color-bg-error-disabled: #f7313166;
    --cos-color-bg-alive-hover: #e34737;
    --cos-color-border-alive-light-disabled: #fd503e33;
    --cos-color-border-active: #848691;
    --cos-color-border-em-light-disabled: #f7313133;
    --cos-color-border-error-light: #f7313180;
    --cos-color-bg-error-light-disabled: #f731310d;
    --cos-color-border-success-light: #39b36280;
    --cos-color-border-success-hover: #39b362;
    --cos-color-border-error-light-hover: #f7313180;
    --cos-color-bg-success-light-disabled: #39b3620d;
    --cos-color-border-success-disabled: #39b36266;
    --cos-color-border-em-light-hover: #f7313180;
    --cos-color-border-primary-light-hover: #4e6ef280;
    --cos-color-border-em-light: #a56a6a80;
    --cos-color-bg-alive-light-hover: #efe0df;
    --cos-color-bg-error-light-hover: #f1dede;
    --cos-color-bg-success-disabled: #39b36266;
    --cos-color-border-success-light-disabled: #39b36233;
    --cos-color-bg-alive-light-disabled: #fd503e0d;
    --cos-color-border-primary-light: #4e6ef280;
    --cos-color-border-primary-light-disabled: #4e6ef233;
    --cos-color-border-success-light-hover: #39b36280;
    --cos-color-border-alive-light-hover: #fd503e80;
    --cos-color-border-error-hover: #f73131;
    --cos-color-bg-success-light-hover: #dfebe3;
    --cos-color-bg-alive-disabled: #fd503e66;
    --cos-color-bg-em-hover: #dd2c2c;
    --cos-color-border-hover: #848691;
    --cos-color-border-primary-hover: #4e6ef2;
    --cos-color-bg-em-light-disabled: #f731310d;
    --cos-color-bg-success-hover: #33a058;
    --cos-color-border-em-hover: #f73131;
    --cos-color-bg-em-light-hover: #f1dede;
    --cos-color-border-alive-hover: #fd503e;
    --cos-color-border-error-disabled: #f7313166;
    --cos-color-border-primary-disabled: #4e6ef266;
    --cos-color-border-alive-disabled: #fd503e66;
    --cos-color-border-error-light-disabled: #f7313133;
    --cos-color-border-em-disabled: #f7313166;
    --cos-color-text-hover: #333333;
    --cos-color-text-active: #4e6ef2;
    --cos-color-text-disabled: #33333366;
    --cos-color-border-disabled: #b7b9c166;
    --cos-color-bg-hover: #f2f2f2;
    --cos-color-bg-dent-hover: #e8e9ec;
    --cos-color-text-inverse: #ffffff;
    --cos-color-text-inverse-disabled: #ffffff66;
    --cos-color-text-slim-inverse: #ffffff66;
    --cos-color-text-tiny-inverse: #ffffffcc;
    --cos-color-text-minor-inverse: #ffffff99;
    --cos-color-text-minor-inverse-disabled: #ffffff3d;
    --cos-color-border-inverse-active: #ffffff;
    --cos-color-border-inverse: #ffffff66;
    --cos-color-border-inverse-disabled: #00000033;
    --cos-color-border-inverse-hove: #ffffff;
    --cos-color-bg-inverse: #00000080;
    --cos-color-bg-raised-inverse: #00000033;
    --cos-color-bg-inverse-hover: #00000099;
    --cos-color-bg-dent-inverse: #ffffff33;
    --cos-color-bg-dent-inverse-hover: #ffffff4d;
    --cos-color-text-slim-active: #9195a3;
    --cos-color-text-tiny-active: #626675;
    --cos-color-text-minor-active: #626675;
    --cos-color-text-inverse-active: #ffffff;
    --cos-color-bg-inverse-disabled: #00000080;
    --cos-color-text-minor-hover: #626675;
    --cos-color-bg-disabled: #ffffff;
    --cos-color-bg-raised-inverse-active: #00000033;
    --cos-color-text-minor-inverse-active: #ffffff99;
    --cos-color-text-success-active: #39b362;
    --cos-color-text-on-em-light-active: #f73131;
    --cos-color-text-slim-inverse-active: #ffffff66;
    --cos-color-bg-raised-disabled: #ffffff66;
    --cos-color-text-on-alive-active: #ffffff;
    --cos-color-text-tiny-inverse-disabled: #ffffff52;
    --cos-color-bg-dent-inverse-disabled: #ffffff33;
    --cos-color-text-primary-active: #4e6ef2;
    --cos-color-text-on-alive-light-active: #fd503e;
    --cos-color-text-on-success-active: #ffffff;
    --cos-color-text-on-success-light-active: #39b362;
    --cos-color-text-tiny-hover: #626675;
    --cos-color-text-tiny-inverse-hover: #ffffffcc;
    --cos-color-text-alive-active: #fd503e;
    --cos-color-text-em-active: #f73131;
    --cos-color-text-minor-inverse-hover: #ffffff99;
    --cos-color-text-on-primary-active: #ffffff;
    --cos-color-text-slim-hover: #9195a3;
    --cos-color-text-minor-disabled: #62667566;
    --cos-color-bg-dent-disabled: #f5f6f9;
    --cos-color-text-slim-disabled: #9195a366;
    --cos-color-text-inverse-hover: #ffffff;
    --cos-color-bg-raised-hover: #ffffff;
    --cos-color-text-slim-inverse-hover: #ffffff66;
    --cos-color-text-tiny-disabled: #62667566;
    --cos-color-text-error-active: #f73131;
    --cos-color-text-on-em-active: #ffffff;
    --cos-color-bg-raised-inverse-disabled: #00000014;
    --cos-color-text-tiny-inverse-active: #ffffffcc;
    --cos-color-bg-inverse-active: #00000080;
    --cos-color-bg-dent-active: #f5f6f9;
    --cos-color-bg-raised-active: #ffffff;
    --cos-color-text-on-error-light-active: #f73131;
    --cos-color-bg-raised-inverse-hover: #00000033;
    --cos-color-bg-dent-inverse-active: #ffffff33;
    --cos-color-text-on-error-active: #ffffff;
    --cos-color-bg-active: #ffffff;
    --cos-color-text-slim-inverse-disabled: #ffffff29;
    --cos-color-text-on-primary-light-active: #4e6ef2;
    --cos-color-border-error-light-active: #f7313180;
    --cos-color-bg-alive-active: #fd503e;
    --cos-color-border-alive-active: #fd503e;
    --cos-color-bg-em-active: #f73131;
    --cos-color-bg-alive-light-active: #fd503e1a;
    --cos-color-bg-success-light-active: #39b3621a;
    --cos-color-bg-success-active: #39b362;
    --cos-color-border-primary-active: #4e6ef2;
    --cos-color-border-em-active: #f73131;
    --cos-color-bg-error-light-active: #f731311a;
    --cos-color-border-em-light-active: #f7313180;
    --cos-color-bg-primary-light-active: #edf0fd;
    --cos-color-border-error-active: #f73131;
    --cos-color-border-success-light-active: #39b36280;
    --cos-color-bg-em-light-active: #eb33331a;
    --cos-color-border-success-active: #39b362;
    --cos-color-bg-error-active: #f73131;
    --cos-color-border-primary-light-active: #4e6ef280;
    --cos-color-border-inverse-hover: #ffffff;
    --cos-color-bg-primary-active: #4e6ef2;
    --cos-color-border-alive-light-active: #fd503e80;
    --cos-color-border-minor-inverse-hover: #ffffff40;
    --cos-color-border-tiny-disabled: #dbdce066;
    --cos-color-border-minor-inverse: #ffffff33;
    --cos-color-border-minor-inverse-disabled: #ffffff14;
    --cos-color-border-tiny-inverse: #ffffff4d;
    --cos-color-border-tiny-inverse-disabled: #ffffff1f;
    --cos-color-border-minor-inverse-active: #ffffff33;
    --cos-color-border-minor-hover: #e0e1e3;
    --cos-color-border-tiny-inverse-hover: #ffffff59;
    --cos-color-border-tiny-active: #ffffff;
    --cos-color-border-tiny: #dbdce0;
    --cos-color-border-minor-active: #edeef0;
    --cos-color-border-tiny-inverse-active: #ffffff4d;
    --cos-color-border-tiny-hover: #cfd0d4;
    --cos-color-border-minor-disabled: #edeef066;
    --cos-color-border-minor: #edeef0;
    --cos-opacity-0: 0;
    --cos-opacity-5: 0.05;
    --cos-opacity-10: 0.1;
    --cos-opacity-15: 0.15;
    --cos-opacity-20: 0.2;
    --cos-opacity-25: 0.25;
    --cos-opacity-30: 0.3;
    --cos-opacity-40: 0.4;
    --cos-opacity-50: 0.5;
    --cos-opacity-60: 0.6;
    --cos-opacity-70: 0.7;
    --cos-opacity-75: 0.75;
    --cos-opacity-80: 0.8;
    --cos-opacity-85: 0.85;
    --cos-opacity-90: 0.9;
    --cos-opacity-95: 0.95;
    --cos-opacity-100: 1;
    --cos-aladdin-space-left: 16px;
    --cos-aladdin-space-top: 16px;
    --cos-text-headline-xl: 35px;
    --cos-leading-headline-xl: 41px;
    --cos-text-headline: 20px;
    --cos-leading-headline: 26px;
    --cos-text-headline-sm: 18px;
    --cos-leading-headline-sm: 24px;
    --cos-text-subtitle: 16px;
    --cos-leading-subtitle: 22px;
    --cos-text-subtitle-sm: 14px;
    --cos-leading-subtitle-sm: 20px;
    --cos-text-body-lg: 14px;
    --cos-leading-body-lg: 23px;
    --cos-text-body: 13px;
    --cos-leading-body: 22px;
    --cos-text-caption: 12px;
    --cos-leading-caption: 21px;
    --cos-text-caption-sm: 12px;
    --cos-leading-caption-sm: 21px;
    --cos-rounded-none: 0rem;
    --cos-rounded-sm: 0.09rem;
    --cos-rounded-xxs: 0.03rem;
    --cos-rounded-md: 0.12rem;
    --cos-rounded-lg: 0.15rem;
    --cos-rounded-xl: 0.18rem;
    --cos-rounded-xxl: 0.21rem;
    --cos-rounded-full: 99rem;
    --cos-rounded-xs: 0.06rem;
    --cos-space-none: 0.16rem;
    --cos-space-3xs: 0.03rem;
    --cos-space-xxs: 0.06rem;
    --cos-space-xs: 0.09rem;
    --cos-space-sm: 0.12rem;
    --cos-space-md: 0.15rem;
    --cos-space-lg: 0.18rem;
    --cos-space-xl: 0.21rem;
    --cos-space-xxl: 0.24rem;
    --cos-space-3xl: 0.27rem;
    font: 13px/21px Arial,sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    font-size: 13px;
    line-height: 21px;
    border-collapse: collapse;
    user-select: none;
    margin: 0 -16px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
}
